name: CI - Build Docker image
on:
  push:
    branches-ignore:
      - main
  pull_request:
permissions: write-all
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build image (no push)
        uses: docker/build-push-action@v4
        with:
          context: ./node
          file: ./node/Dockerfile
          load: true
          tags: test-image:latest
